.container {
  text-align: center;
  width: 100%;
  height: 100%;

  .code {
    margin: 50px 0;
    font-size: 250px;
    color: #8f9599;
  }
  .title {
    font-size: 35px;
  }
  .text {
    font-size: 16px;
  }
}
