.container {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: rgb(31,41,49);
  background: linear-gradient(94deg, rgba(31,41,49,1) 0%, rgba(39,52,61,1) 32%, rgba(56,77,89,1) 100%);
  display: flex;
  flex-flow: column;
  justify-content: space-around;

  .code {
    margin: 0;
    font-size: 250px;
    color: #8f9599;
  }
  .title {
    font-size: 35px;
    color: #fff;
    margin-bottom: 0;
  }
  .text {
    font-size: 16px;
    color: #fff;
  }
  .home-page-link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #f98f01;
    padding: 1rem 2rem;
    max-width: 200px;
    margin: auto;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.2s ease-in-out;

    &:hover {
      color: #fff;
    }
  }
}
