.dropdown-container {
  z-index: 10;
  position: relative;
  width: 200px;
  height: 35px;
  line-height: 35px;
  background-color: #2c3c46;
  text-align: left;
  cursor: pointer;
  border-radius: 2px;
  padding-left: 0.5rem;

  .chosen-dropdown-item {
    border-radius: 2px;
    color: #f98f01;

    .arrow-down-image {
      transition: 0.4s linear;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0.7rem;
      top: 0.5rem;
    }
  }
  .dropdown-list-container {
    transform-origin: top center;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    padding-top: 2px;
    transition: all 0.4s ease-in-out;

    .dropdown-list {
      background-color: #2c3c46;
      color: #8f9599;
      border-top: 2px solid transparent;
      border-radius: 2px;
      padding-left: 0.5rem;

      &-item {
        transition: color 0.1s ease-in;

        &:hover {
          color: #fff;
        }
      }
    }
  }
  &:hover .dropdown-list-container {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
  }
  &:hover .chosen-dropdown-item .arrow-down-image {
    transform: rotate(-180deg);
  }
}

@media (max-width: 786px) {
  .dropdown-container {
    width: 140px;
  }
}

@media (max-width: 490px) {
  .dropdown-container {
    font-size: 14px;
    width: 120px;

    .chosen-dropdown-item .arrow-down-image {
      width: 15px;
      height: 15px;
      top: 11px;
    }
  }
}
