<div class="search-info" *ngIf="searchString">
  Results of searching: "<span class="searching-string">{{searchString}}</span>":
</div>
<div
  class="movies-container"
  *ngIf="response$ | async as response; else loading">
  <div class="no-movies" *ngIf="response.results.length < 1">There are no movies with this title.</div>
  <div
    class="movie-item"
    [@movie]=""
    *ngFor="let movie of response.results | paginate: { itemsPerPage: 20,
                                                              currentPage: response.page,
                                                              totalItems: response.total_pages*20 }"

    [routerLink]="['movie', movie.id]">
    <div class="poster">
      <img src="{{movie.poster_path ? moviesPostersUrl + movie.poster_path : '../assets/images/noposter.jpg'}}">
      <div class="rating">{{movie.vote_average}}</div>
    </div>
    <div class="movie-details">
      <div class="title">{{movie.title}}</div>
      <div class="genre">{{movie.genres}}</div>
      <div class="year">{{movie.release_date | date:'yyyy'}}</div>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="pageChanged($event)"
                     directionLinks="true"
                     autoHide="true"
                     responsive="true"
                     previousLabel=""
                     nextLabel=""
                     class="movies-pagination"
></pagination-controls>

<ng-template #loading>
  <div class="loader-container">
    <div class="loader">Loading...</div>
  </div>
</ng-template>
