<div class="container">
  <div class="header">
    <a class="logo" [routerLink]="['/']">
      Movie Info
    </a>
    <div class="search">
      <form [formGroup]="form" (ngSubmit)="submitSearchForm()">
        <input type="text" formControlName="searchMovie" placeholder="Search...">
        <button class="search-btn" type="submit"></button>
      </form>
    </div>
    <div class="header-menu">
      <app-dropdown-list></app-dropdown-list>
    </div>
  </div>
  <div class="main">
    <aside>
      <app-genres></app-genres>
    </aside>
    <section>
      <app-movies></app-movies>
    </section>
  </div>
  <footer>
    <a class="tmdb" href="https://www.themoviedb.org/" target="_blank"  >
      <img src="../../assets/images/tmdb.png">
    </a>
    <div class="legal">
      &#169; 2020 by <a href="https://juliabugakova.com" target="_blank">Julia Bugakova</a>. <br>View project on <a rel="noopener" target="_blank" href="https://github.com/jbugakova/movie-info-app">GitHub</a>
    </div>
  </footer>
</div>
