<div class="container">
  <div class="header">
    <div class="logo">
      Movie Info
    </div>
    <div class="search">
      <form [formGroup]="form" (ngSubmit)="submitSearchForm()">
        <input type="text" formControlName="searchMovie" placeholder="Search...">
        <button class="search-btn" type="submit"></button>
      </form>
    </div>
    <div class="sorting-dropdown">
      Popularity
    </div>
  </div>
  <div class="main">
    <aside>
      <app-genres></app-genres>
      <div class="footer">
        <div class="tmdb">
          <img src="../../assets/images/tmdb.png">
        </div>
        <div>
          &#169; by Julia Bugakova. View project on <a rel="noopener" target="_blank" href="https://github.com/jbugakova/movie-info-app">GitHub</a>.
        </div>
      </div>
    </aside>
    <section>
      <app-movies></app-movies>
    </section>
  </div>
</div>
