.container {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100%;
  min-width: 800px;
  min-height: 100vh;
  background: #132330;
  background: linear-gradient(94deg, #132330 0%, #17232c 32%, #273f4d 100%);

  .movie-container {

    .overflow {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      transform: scale(1.1);
      filter: blur(5px);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .movie-info {
      position: relative;
      margin: 0 auto;
      width: 60%;
      background-color: #1f2931;
      box-shadow: 0px 0px 20px 0px #131313;
      color: #fff;

      .movie-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 15px;
        font-size: 27px;
        font-weight: 600;
        text-transform: uppercase;

        .back-home-btn {
          border-radius: 2px;
          padding: 10px 20px;
          width: 90px;
          height: 45px;
          text-decoration: none;
          background-color: #f98f01;
          background-image: url("../../../assets/images/back-home.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 60%;
          color: #000;
          transition: 0.2s ease-in;

          &:hover {
            cursor: pointer;
            background-color: #ff9e1b;
          }
        }
        .movie-title {
          margin: 0 20px;
          //margin: 0;
          letter-spacing: 5px;
          text-align: center;
        }
        .rating {
          display: flex;
          align-items: center;

          img {
            width: 45px;
            height: 45px;
            margin-right: 5px;
          }
          span {
            font-size: 33px;
          }
        }
      }
      .movie-poster {
        min-height: 300px;
        position: relative;

        .movie-backdrop-img {
          display: block;
          width: 100%;
          height: auto;
        }
        .movie-tagline {
          text-transform: uppercase;
          font-style: italic;
          color: #000;
          background-color: #f98f01;
          border-radius: 2px;
          padding: 1rem 1.8rem;
          position: absolute;
          bottom: -0.8rem;
          left: 3rem;
        }
      }
      .movie-details {
        padding: 30px 30px 20px;
        background-color: #1f2931;
        height: auto;

        .movie-main-info {
          width: 100%;

          tr {
            &:nth-of-type(2n + 1) {
              background-color: #27333c;
            }

            td {
              padding: 0.5rem 2rem;

              &:first-of-type {
                color: #8f9599;
              }

              a {
                color: #f98f01;
                transition: color 0.2s ease-in-out;

                &:hover {
                  color: #fff;
                }
              }
            }
          }
        }
      }
      .overview {
        padding: 20px 10px;
      }
    }
  }
}

@media (max-width: 1240px) {
  .container .movie-container .movie-info {
    width: 80%;
  }
}
@media (max-width: 920px) {
  .container .movie-container .movie-info {
    width: 100%;
  }
}
