<div class="container">
  <div
    class="movie-container"
    *ngIf="movie$ | async as movie; else loading">
    <div class="overflow">
      <img
        [src]="getBackdropUrl(movie.backdropPath)"
        [@movieBackground]
        *ngIf="movie.backdropPath"
      >
    </div>

    <div class="movie-info" [@movie]>
      <div class="movie-header">
        <a
          class="back-home-btn"
          (click)="onBackBtnClick()"
        ></a>
        <div class="movie-title">{{movie.title}}</div>
        <div class="rating">
          <img src="../../../assets/images/star.png">
          <span>{{movie.voteAverage}}</span>
        </div>
      </div>
      <div class="movie-poster">
        <img
          class="movie-backdrop-img"
          [src]="getBackdropUrl(movie.backdropPath)">
        <div
          class="movie-tagline"
          *ngIf="movie.tagline"
        >"{{movie.tagline}}"</div>
      </div>
      <div class="movie-details">
        <table class="movie-main-info">
          <tr>
            <td>Genre:</td>
            <td>{{movie.genres | genresList}}</td>
          </tr>
          <tr>
            <td>Runtime:</td>
            <td>{{movie.runtime ? movie.runtime : 0}} min</td>
          </tr>
          <tr>
            <td>Release date:</td>
            <td>{{movie.releaseDate | date: 'dd MMMM yyyy'}}</td>
          </tr>
          <tr>
            <td>Country:</td>
            <td>{{movie.productionCountries | countryList}}</td>
          </tr>
          <tr>
            <td>Budget:</td>
            <td>{{movie.budget | moneyFormatter}}$</td>
          </tr>
          <tr>
            <td>Revenue:</td>
            <td>{{movie.revenue | moneyFormatter}}$</td>
          </tr>
          <tr>
            <td>Cast:</td>
            <td><a class="cast-link" target="_blank" href="https://www.themoviedb.org/movie/{{movie.id}}/cast">Full Cast</a></td>
          </tr>
        </table>
        <div
          class="overview"
          *ngIf="movie.overview">
          {{movie.overview}}
        </div>
        <app-trailers [trailers]="movie.trailers"></app-trailers>
        <app-similar-movie-carousel [id]="movie.id"></app-similar-movie-carousel>
      </div>
  </div>
</div>

<ng-template #loading>
  <div class="loader-container">
    <div class="loader">Loading...</div>
  </div>
</ng-template>
